# Python Tank Wars Requirements

# For running the basic robocode.py version
pygame>=2.5.0

# For potential upgrade to Tank Royale
# robocode-tank-royale>=0.20.0

# For video generation from battles
opencv-python>=4.8.0
numpy>=1.24.0
pillow>=10.0.0

# For running automated tests and battles
pytest>=7.4.0

# For generating scoresheets and reports
matplotlib>=3.7.0
pandas>=2.0.0
